<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Anthony" />
   <link href="http://feeds.feedburner.com/aantthony" rel="alternate" title="url3.tk" type="application/atom+xml" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />
    {% include analytics.html %}
</head>
<body>
<header>
    <aside>
        <a href="/contact">Contact</a>
        <a href="http://twitter.com/aantthony">Twitter: aantthony</a>
    </aside>
    <a href="/" style="display:block;float:left"><img src="http://gravatar.com/avatar/b5c83649658d9d33c68d9a29790a9238?s=128" width="128" height="128" /></a><h1><a href="/">/url3.tk/</a></h1>
</header>
<div class="page">
 {{ content }}
</div>
 <footer>Anthony</footer>
</body>
</html>